
<!-- <app-menu></app-menu> -->
<div class="container">
 <div class="img-slide">       
    <div class="div1">
       <img src="../assets\scooter.png" > 
    </div>
    <div class="div1"><h2>ABOUT US </h2> <p>We are giving a best in Cuddalore <br>According to my website we are give a food in Good quality and Reasonable price. And we are having a branch in Vadalur and Neyveli also..<p></div>
    <div class="div1">
       <img src="../assets\women.jpg"> 
    </div>
 </div>
</div>
<!-- top closed -->
<div class="aboutme">
<h2>About Me</h2>
<div class="about">

   <div class="logo">
      <p> Hi, I am Jaikumar Radhakrishnan Front-end developer and Web designer, I started 
         my journey with Front-end developer in 2023. At earlier the same year. I complete my Front-end 
         developer professional course in Besant technologies Learning center velachery chennai. After finishing 
         a course with a great practice and I start my Freelancing career on 
         <a href="#">jaieeeeng@gmail.com </a> and I successfully run my Freelancing job.  </p>

</div>
   <div class="logo">
      
      <a href="#"><i class="fab fa-instagram custom-size" > 
       </i></a> 
       <a href="#" id="facebook"><i class="fab fa-facebook custom-size" > 
       </i></a> 
       <a href="https://www.linkedin.com/in/jai-kumar-786bb6215?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" id="linkedin"><i class="fab fa-linkedin custom-size" > 
       </i></a> 
       <a href="#"><i class="fab fa-whatsapp custom-size" > 
      </i></a>
       </div>
     
   </div>
</div>
   <div class="fullcontent"> 
   <h2>Mission</h2>
    <div class="content">
     
      <div class="contentimg"> <img src= "/assets/Mission.jpg"></div>
      <div>       
       <p> 
           Our mission is to elevate the quality of life of the urban consumer by offering unparalleled convenience. Convenience is what makes us tick. It's what makes us get out of bed and say, “Let's do this.”</p>
       <p>
       Thank you for being a part of our story. We look forward to serving you and creating many more delightful moments together by...
       [JAIKUMAR RADHAKRISHNAN]
   </p>
</div>
</div>
</div>
